
*.cache
*.lock
.vs/SolutionTest_CSharp/v14/.suo
.vs/SolutionTest_CSharp/v15/Browse.VC.db
.vs/SolutionTest_CSharp/v15/Server/sqlite3/storage.ide
.vs/SolutionTest_CSharp/v15/Server/sqlite3/storage.ide-shm
.vs/SolutionTest_CSharp/v15/Server/sqlite3/storage.ide-wal
140730_SimplePerformanceTest_01/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
140730_SimplePerformanceTest_01/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
140730_SimplePerformanceTest_01/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
160204_Test_CodinGame/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
160204_Test_CodinGame/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
160204_Test_CodinGame/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
160211_CodilityTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
160211_CodilityTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
160211_CodilityTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/SolutionTest_CSharp/v15/.suo
.vs/SolutionTest_CSharp/v15/ipch/AutoPCH/2685a4676ec99846/NPCMAKERCOMMON.ipch
.vs/SolutionTest_CSharp/v15/ipch/AutoPCH/33fde4684fa4eb8b/NPCMAKERCOMMON.ipch
.vs/SolutionTest_CSharp/v15/ipch/AutoPCH/8a32ba95531f311c/NPCMAKERCOMMON.ipch
190715_GZipStreamTest/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
190715_GZipStreamTest/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
190715_GZipStreamTest/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
200310_Tests/obj/Debug/200310_Tests.csproj.FileListAbsolute.txt
200310_Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
200310_Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
200310_Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
200310_Tests/obj/Debug/200310_Tests.pdb
200310_Tests/obj/Debug/200310_Tests.exe
200310_Tests/bin/Debug/200310_Tests.pdb
200310_Tests/bin/Debug/200310_Tests.exe.config
200310_Tests/bin/Debug/200310_Tests.exe
200310_Tests/Properties/AssemblyInfo.cs
.vs/SolutionTest_CSharp/v15/.suo
.vs/SolutionTest_CSharp/v15/.suo
